* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

   body{
    background-color: rgb(233, 233, 233);
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

    a {
            text-decoration: none;
    }

   

    /*HEADER*/


    .breadcrumb {
            margin-top: 170px;
            margin-left: 50px;
            font-size: 1.2rem;
        }

    .breadcrumb a{
        color: black;
        text-decoration: none;
    }

    .in{
        text-decoration: underline;
    }

    header{
        top: 0;
        position: fixed;
        z-index: 10;
        background-color: black;
        width: 100%;
        height:150px ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }

    .logo-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-container .logo{
        height: 150px;
        background-color: white;
    }

    .logo-container h1{
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 50px;
    }

    nav{
        margin-right: 120px;
        width: 50%;
    }

    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }

    .nav-item{
        font-size: 1.5rem;
        list-style-type: none;
        transition: all 0.50s ease-in-out;
        
    }

    .nav-item :hover{
        border-bottom: solid white 2px;
        
        
        
    }

    .nav-item a{
        text-decoration: none;
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        
    }

    /*INDEX*/

    .main-index{
        flex: 1;
    }

    .carousel{
        margin-top: 126px;
    }

    .carousel-item img{
        height: 700px;
        
    }

    .ofertas{
        text-align: center;
        margin-top: 50px;
    }

    .ofertas-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .ofertas h2{

        margin-bottom: 50px;
        font-family: 'Bebas Neue', sans-serif;
    }

    .productos{
        width: 300px;
        background-color: white;
        border-radius: 5px;
        transition: all 0.25s ease-in-out;
        
    }

    .productos a{
        text-decoration: none;
        color: black;
    }

    .precio{
        margin-top: 15px;
    }

    .productos:hover{
        transform: scale(1.01);
    }

    .productos img{
        height: 400px;
        width: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
    }

    .articulos{
        text-align: center;
        margin-top: 50px;
    }

    .articulos-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        
    }

    .articulos-container a{
        text-decoration: none;
        color: black;
    }

    .indumentarias{
        width: 365px;
        height: 700px;
        margin-bottom: 50px;
        transition: all 0.25s ease-in;
    }


    .indumentarias:hover{
        transform: scale(1.1);
    }

    .indumentarias img{
        margin-top: 20px;
        width: 378px;
        height: 700px;
    }

    /*CONTACTO*/

    .main-contacto{
        flex:1;
    }

    /*PRODUCTOS*/

    

   

    .layout{
        display:grid;
        grid-template-columns: 1fr 4fr;
        background-color: black;
        
    }

    aside{
        padding:2rem;
        padding-right: 0;
        position: sticky;
        top:0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        
    }

    .logoProductosContainer{
        display: flex;
        flex-direction: row;
        margin-right: 60px;
        align-items: center;
        
    }

    .logoProductosContainer h3 {
        font-size: 35px;
        color: white;
    }

    .logoProductos{
        height: 70px;
        background-color: white;
        width: 100%;
        
        
    }

    .menu{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        list-style-type: none
        
    }

    .botonMenu{
        background-color: transparent;
        color: white;
        border:0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 600;
        padding: 1rem;
        width: 100%;
        
        
    }

    .active{
        background-color: white;
        color: black;
        border-radius: 10px;
        
    }

    .botonCarrito{
        margin-top: 2rem;
    }

    .botonCarrito.active .numerito{
        background-color: black;
        color: white;

    }

    .numerito{
        background-color: white;
        color: black;
        padding: 0.75rem;
        border-radius:.10rem .25rem;
        
    }

   

    .footerProd{
        margin-top:0px;
    }

    .mainProd{
        background-color:rgb(233, 233, 233) ;
        margin:1rem;
        margin-left: 0;
        border-radius:2rem;
        padding: 3rem;
       
    }

    .tituloPrincipal{
        color: black;
        margin-bottom: 2rem;
    }

    .contenedorProductos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        row-gap: 2.5rem;
        column-gap: 1rem;
        
    }

    .productoImagen{
        width: 350px; 
        height: 400px;
        border-radius: 1rem;
    }

    .productoInfo{
        color:black;
        padding: .5rem;
        border-radius: 1rem;
        background-color: white;
        margin-top: -2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .productoTitulo{
        font-size: 1rem;
    }

    .prendaAgregar{
        border:0;
        padding: 0.5rem;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        transition: background-color .2s;
    }

    .productoAgregar:hover{
        background-color: grey;
    }

    .copyrightProd{
        font-family: 'Bebas Neue', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .copyrightProd a img{
        height: 70px;
    }


    




    /*CARRITO*/

    .contenedorCarrito{
        display: flex;
        flex-direction: column;
        gap:1.5rem;
    }



    .carritoProductos{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }

    .carritoProducto{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: .5rem;
        padding-right: 1.5rem;
        border-radius: 1rem
    }

    .carritoProducto img {
        max-width: 4rem;
        border-radius: 1.5rem;
        
    }

    .carritoProducto small{
        font-size: 0.75rem;
    }

    .carritoProductoEliminar{
        border: 0;
        background-color: transparent;
        color:red;
        cursor:pointer;
        
    }

    .carritoAcciones{

        display: flex;
        justify-content: space-between;

    }

    .vaciarCarrito{
        border:0;
        background-color: white;
        padding:1rem;
        border-radius: 1rem;
        text-transform: uppercase;
        cursor: pointer;
        
    }

    .carritoComprar {
            border: 0;
            background-color:black;
            color: white;
            padding: 1rem;
            text-transform: uppercase;
            cursor: pointer;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
    
        }
     
    .comprarCarritoContenedor{
        display: flex;
        margin-right: 110px;

    }

    .carritoTotalTitulo{
        display: flex;
        background-color: white;
        padding: 1rem;
        text-transform: uppercase;
        border-top-left-radius:1rem ;
        border-bottom-left-radius:1rem ;
        gap:1rem

    }

    .carritoTotalTitulo p {
        margin-top: 15px;
    }

    

    /*NEW IN*/

    .main-newin{
        flex: 1;
    }
    
    /*FOOTER*/

    footer{
        flex-shrink: 0;
        margin-top: 50px;
        height: 250px;
        background-color:black;
        width: 100%;
        display: grid;
        justify-content:center;
        grid-template-columns: repeat(3,auto);
        column-gap: 500px;
        

    }

    footer .redes{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        font-family: 'Bebas Neue', sans-serif;
       
    }
 
    footer .redes a{
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        font-family: 'Bebas Neue', sans-serif;
    }

    footer .copyright{
        font-family: 'Bebas Neue', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        
        
    }

    footer .copyright a img {
        height: 70px;
        margin-top: 10px;
    }


    footer .medio-container{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;

    }

    footer .medio-container .medios{
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        
    }

        footer .medio-container .medios h3{
            margin: 20px;

        }

.disabled{
    display: none;
}


       


